body {
  font-family: sans-serif;
}

main {
  max-width: 960px;
  margin: 0 auto;
}

.tooltip {
    position: relative;
    cursor: help;
    margin: 10px 10px 10px 0px;
    width: 75px;
}

.tooltip .tooltip-text {
    visibility: hidden;
    width: 400px;
    height: 200px;
    background-color: white;
    text-align: center;
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltip-text {
    visibility: visible;
}
